<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691971459258-2kcqnvbdjqiu5qq7kif18jbhuhl1r5po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691971459258-2kcqnvbdjqiu5qq7kif18jbhuhl1r5po</string>
	<key>API_KEY</key>
	<string>AIzaSyA9bWed_zKLJXR9oOjokPJKBZEi3IgCW5M</string>
	<key>GCM_SENDER_ID</key>
	<string>691971459258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flavorstack.SanoGano</string>
	<key>PROJECT_ID</key>
	<string>sanogano-bf152</string>
	<key>STORAGE_BUCKET</key>
	<string>sanogano-bf152.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691971459258:ios:42a08075ee6e3f906d1a83</string>
</dict>
</plist>